# Extracting and Visualize Stck Data

## This is a Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

### Table of Contents

1. Use yfinance to Extract Stock Data
2. Use Webscraping to Extract Tesla Revenue Data
3. Use yfinance to Extract Stock Data
4. Use Webscraping to Extract GME Revenue Data
5. Plot Tesla Stock Graph
6. Plot GameStop Stock Graph

In [ ]:
!pip install yfinance

In [ ]:
!pip install plotly

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

Use yfinance to Extract Stock Data
define Ticker by entering symbol stock

In [3]:
tesla = yf.Ticker('TSLA')

using ticker . history function to obtain information and save it to my dataframe (df)

In [4]:
tesla_data = tesla.history(period='max')

reset the index in order to display the first five rows using the head function

In [5]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Use Webscraping to Extract Tesla Revenue Data
using request library to scrape data from webpage https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue and parse them using bs (beautifulSoup)

In [6]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
url_data = requests.get(url).text
soup_data = BeautifulSoup(url_data, 'html5lib')

extract table and store data in df (remove "$" and "," from columns)

In [7]:
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup_data.find_all('table'):
    if 'Tesla Quarterly Revenue' in table.find('th').text:
        rows = table.find_all('tr')

        for row in rows:
            col = row.find_all('td')

            if col:
                date = col[0].text
                revenue = col[1].text.replace(',', '').replace('$', '')

                tesla_revenue = tesla_revenue._append({"Date":date,"Revenue":revenue}, ignore_index=True)

tesla_revenue

          Date Revenue
0   2023-03-31   23329
1   2022-12-31   24318
2   2022-09-30   21454
3   2022-06-30   16934
4   2022-03-31   18756
5   2021-12-31   17719
6   2021-09-30   13757
7   2021-06-30   11958
8   2021-03-31   10389
9   2020-12-31   10744
10  2020-09-30    8771
11  2020-06-30    6036
12  2020-03-31    5985
13  2019-12-31    7384
14  2019-09-30    6303
15  2019-06-30    6350
16  2019-03-31    4541
17  2018-12-31    7226
18  2018-09-30    6824
19  2018-06-30    4002
20  2018-03-31    3409
21  2017-12-31    3288
22  2017-09-30    2985
23  2017-06-30    2790
24  2017-03-31    2696
25  2016-12-31    2285
26  2016-09-30    2298
27  2016-06-30    1270
28  2016-03-31    1147
29  2015-12-31    1214
30  2015-09-30     937
31  2015-06-30     955
32  2015-03-31     940
33  2014-12-31     957
34  2014-09-30     852
35  2014-06-30     769
36  2014-03-31     621
37  2013-12-31     615
38  2013-09-30     431
39  2013-06-30     405
40  2013-03-31     562
41  2012-12-31     306
42  2012-09-30      50
43  2012-06-30      27
44  2012-03-31      30
45  2011-12-31      39
46  2011-09-30      58
47  2011-06-30      58
48  2011-03-31      49
49  2010-12-31      36
50  2010-09-30      31
51  2010-06-30      28
52  2010-03-31      21
53  2009-12-31
54  2009-09-30      46
55  2009-06-30      27

display the last rows

In [8]:
tesla_revenue.tail()

          Date Revenue
51  2010-06-30      28
52  2010-03-31      21
53  2009-12-31
54  2009-09-30      46
55  2009-06-30      27

remove Nan or empty cell

In [10]:
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'].astype(bool)]
tesla_revenue.tail()

          Date Revenue
50  2010-09-30      31
51  2010-06-30      28
52  2010-03-31      21
54  2009-09-30      46
55  2009-06-30      27

Use yfinance to Extract Stock Data
define Ticker by entering symbol stock

In [12]:
gm = yf.Ticker('GME')

using ticker . history function to obtain information and save it to my dataframe (df)

In [13]:
gm_data = gm.history(period='max')

reset the index in order to display the first five rows using the head function

In [14]:
gm_data.reset_index(inplace=True)

Use Webscraping to Extract GME Revenue Data
using request library to scrape data from webpage https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue and parse them using bs (beautifulSoup)

In [15]:
url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
url_data = requests.get(url).text
soup_data = BeautifulSoup(url_data, 'html5lib')

extract table and store data in df (remove "$" and "," from columns)

In [16]:
gm_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup_data.find_all('table'):
    if 'GameStop Quarterly Revenue' in table.find('th').text:
        rows = table.find_all('tr')

        for row in rows:
            col = row.find_all('td')

            if col:
                date = col[0].text
                revenue = col[1].text.replace(',', '').replace('$', '')

                gm_revenue = gm_revenue._append({"Date":date,"Revenue":revenue}, ignore_index=True)

gm_revenue

          Date Revenue
0   2023-04-30    1237
1   2023-01-31    2226
2   2022-10-31    1186
3   2022-07-31    1136
4   2022-04-30    1378
5   2022-01-31    2254
6   2021-10-31    1297
7   2021-07-31    1183
8   2021-04-30    1277
9   2021-01-31    2122
10  2020-10-31    1005
11  2020-07-31     942
12  2020-04-30    1021
13  2020-01-31    2194
14  2019-10-31    1439
15  2019-07-31    1286
16  2019-04-30    1548
17  2019-01-31    3063
18  2018-10-31    1935
19  2018-07-31    1501
20  2018-04-30    1786
21  2018-01-31    2825
22  2017-10-31    1989
23  2017-07-31    1688
24  2017-04-30    2046
25  2017-01-31    2403
26  2016-10-31    1959
27  2016-07-31    1632
28  2016-04-30    1972
29  2016-01-31    3525
30  2015-10-31    2016
31  2015-07-31    1762
32  2015-04-30    2061
33  2015-01-31    3476
34  2014-10-31    2092
35  2014-07-31    1731
36  2014-04-30    1996
37  2014-01-31    3684
38  2013-10-31    2107
39  2013-07-31    1384
40  2013-04-30    1865
41  2013-01-31    3562
42  2012-10-31    1773
43  2012-07-31    1550
44  2012-04-30    2002
45  2012-01-31    3579
46  2011-10-31    1947
47  2011-07-31    1744
48  2011-04-30    2281
49  2011-01-31    3693
50  2010-10-31    1899
51  2010-07-31    1799
52  2010-04-30    2083
53  2010-01-31    3524
54  2009-10-31    1835
55  2009-07-31    1739
56  2009-04-30    1981
57  2009-01-31    3492

Plot Tesla Stock Graph

make_graph to draw graph data -> make_graph(gm_data, gm_revenue, 'YOURTICKER')

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=True,
                      height=900,
                      title=stock,
                      xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
make_graph(tesla_data[['Date', 'Close']], tesla_revenue, 'Tesla')

In [ ]:
make_graph(gm_data[['Date', 'Close']], gm_revenue, 'GameStop')